h1 {
  color: red; 
  text-align: center; 
}
#para1 {
  color: yellow; 
  font-size: 13px; 
  font-family: Arial, sans-serif; 
}
#para2 {
  background-color: yellow; 
  font-weight: bold; 
  font-size: 13px; 
  font-family: "Times New Roman", Times, serif; 
}

